body {
  margin: 0;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 100;
  display: block;
  color: white;
  font-family: "Abel", sans-serif;
}

.middle {
  align-content: center;
  /* position: absolute;
  top: 15%;
  right: 5%; */
}

.btnstyling {
  font-size: 30px;
  margin-bottom: 1.25vh;
}